.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

.item-container {
  width: 40%;
}

.card-container {
  margin-top: 80px;
}

.item {
  padding: 10px;
  border: 1px solid grey;
  /* margin-bottom: 20px; */
}

.target {
  /* width: 53%; */
  min-height: 5px;
  border: 1px solid #e4e4e4;
}